@font-face {
    font-family: 'PretendardBold';
    src: url('../fonts/Pretendard-Bold.ttf');
}
@font-face {
    font-family: 'PretendardMedium';
    src: url('../fonts/Pretendard-Medium.ttf');
}
@font-face {
    font-family: 'PretendardSemiBold';
    src: url('../fonts/Pretendard-SemiBold.ttf');
}
@media (min-width: 768px) {
    .insertBody {
        margin: 0 auto;
        width: 375px;
        background-color: #fff8fb;
    }
}

.eventtitle {
    color: #64446d;
    font-size: 20px;
    font-weight: 700;
    margin: 9.5px 0px 34.5px 0px;
    font-family: 'PretendardBold';
}

.insertBody {
    background-color: #fff8fb;
    display: flex;

    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* NoticeList css  */

.ListContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    text-align: center;
}
.noticeCount {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    align-self: flex-start;
}

.noNotice {
    margin-top: 30vh;
    font-weight: bold;
    color: grey;
}

.row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.col2 {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.noticeImg {
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.noticeTitle {
    width: 150px;
    font-weight: bold;
    text-align: start;
    word-break: break-all;
}
.invTitle {
    visibility: hidden;
}
.bottomC {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-content: center;
    width: 150px;
}

.noticeDate {
    color: grey;
    font-size: small;
    margin-top: -5px;
}

.star {
    color: white;
    background-color: #e25959;
    font-size: small;
    padding: 4px;
    border-radius: 4px;
    align-self: self-start;
}

.noStar {
    color: white;
    font-size: small;
    padding: 4px;
    border-radius: 4px;
    align-self: self-end;
    margin-top: -8px;
    visibility: hidden;
}

/* pagination css */
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: #986d9e !important;
}

ul.pagination li.active a:hover {
    color: white;
}

ul.pagination li.active {
    background-color: none !important;
}

ul.pagination li a:hover {
    color: #986d9e;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: #986d9e;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #986d9e;
}

/* NoticeDetail css*/

@media (min-width: 768px) {
    .insertBody2 {
        margin: 0 auto;
        width: 375px;

        background-color: #fff8fb;
    }
}
.insertBody2 {
    background-color: #fff8fb;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.detailCotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.notice {
    color: #64446d;
    size: 20px;
    font-weight: 700;
    margin: 9.5px 0px 34.5px 0px;
    align-self: center;
}
.faChevronLeft {
    position: relative;
    left: -115px;
}
.detailC1 {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.detailTitle {
    font-weight: bold;
    word-break: break-all;
}

.detailContent {
    word-break: break-all;
    text-align: left;
    line-height: 25px;
    margin-top: 20px;
}

.goList {
    width: fit-content;
    background-color: #8a4395;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: small;
    margin-bottom: 30px;
    margin-top: 20px;
    align-self: flex-end;
}

.noticeDate2 {
    color: grey;
    font-size: small;
    margin-top: 10px;
}

.slickP {
    width: 310px;
    height: 310px;
    margin-bottom: 10px;
}

.slider-pagination {
    position: relative;
    font-size: small;
    font-weight: 300;
    background-color: rgba(106, 106, 106, 0.6);
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: fit-content;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    top: -42px;
    left: 250px;
}
