@media (min-width: 768px) {
    .SplashBody {
        margin: 0 auto;
        width: 375px;
        background-color: #eee8e0;
        z-index: 50;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}

.SplashBody:nth-child(1) {
    z-index: 0;
    background-color: #eee8e0;
    overflow: hidden;
    position: relative;
    z-index: 50;
}

/*첫번쨰 페이지 요소 위치 설정*/
#canvas {
    z-index: -2;
    opacity: 30%;
}
#purple1 {
    display: block;
    position: absolute;
    left: 20%;
    top: 5%;
    animation: popcorn 2s ease-in-out;
}
#ivory1 {
    position: absolute;
    left: 10%;
    top: 10%;
    animation: popcorn 2s ease-in-out;
}
#pink1 {
    position: absolute;
    right: 10%;
    top: 8%;
    animation: popcorn 2s ease-in-out;
}
#title {
    position: absolute;
    width: 300px;
    top: 13%;
    z-index: 1;
}
#pink2 {
    position: absolute;
    left: 8%;
    top: 34%;
    animation: popcorn 2s ease-in-out;
}
#purple2 {
    position: absolute;
    right: 8%;
    top: 32%;
    animation: popcorn 2s ease-in-out;
}
#obj {
    margin-top: 80%;
    position: absolute;
    left: -15%;
    width: 123%;
    z-index: 1;
    animation: fadeIn 1s linear;
}
#roundback {
    position: absolute;
    top: 45%;
    width: 120%;
    z-index: 0;
    animation: fadeOut 3s ease-in-out 5s;
}

/*두번째 페이지 요소 위치 설정*/
.SplashBody:nth-child(2) {
    height: 800px;
    background-color: #dccae0;
    animation: scroll-down 3s ease-in-out 7s;
    position: relative;
}
#title2 {
    position: absolute;
    width: 300px;
    top: 10%;
    z-index: 2;
}
#purple3 {
    position: absolute;
    top: 29%;
    right: 10%;
    z-index: 1;
}
#pink3 {
    position: absolute;
    top: 30%;
    left: 10%;
}
#ivory3 {
    position: absolute;
    top: 35%;
    right: 18%;
    z-index: 1;
}
.content {
    position: relative;
    width: 380px;
    height: 800px;
}
#take1 {
    position: absolute;
    top: 38%;
    left: 7%;
    z-index: 1;
    animation: up 3s infinite 9.5s ease-in-out;
}
#take2 {
    position: absolute;
    top: 50%;
    right: 7%;
    z-index: 1;
    animation: up 3s infinite 9.5s ease-in-out;
}
#take3 {
    position: absolute;
    top: 67%;
    left: 7%;
    z-index: 1;
    animation: up 3s infinite 9.5s ease-in-out;
}
#text {
    position: absolute;
    z-index: 1;
    top: 85%;
    z-index: 50;
}
/*구름 두둥실 효과*/
.cloud div {
    border-radius: 50%;
}
#cloud1 {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 53%;
    background-color: #ca95c2;
    z-index: 0;
    height: 500px;
    /* #7E6FDD #4F46AF #a094e4*/
    animation: up 3s infinite ease-in-out;
}
#cloud2 {
    width: 100%;
    position: absolute;
    top: 45%;
    left: -20px;
    background-color: #ca95c2;
    z-index: 0;
    height: 500px;
    animation: up 3s infinite ease-in-out;
    animation-delay: 0.5s;
}
#cloud3 {
    width: 100%;
    position: absolute;
    top: 60%;
    left: -20px;
    background-color: #bd85b9;
    z-index: 0;
    height: 500px;
    animation: up 3s infinite ease-in-out;
    animation-delay: 2.5s;
}
#cloud4 {
    width: 90%;
    position: absolute;
    top: 45%;
    left: 55%;
    background-color: #bd85b9;
    z-index: 0;
    height: 500px;
    animation: up 3s infinite ease-in-out;
    animation-delay: 2s;
}

.canvas {
    margin: 0;
    /*-webkit-filter: blur( 5px ) contrast( 5 );
    -moz-filter: blur( 5px ) contrast( 5 );
    filter: blur( 5px ) contrast( 5 );*/
}
/*애니메이션 설정*/
/*페이지 1 팝콘 날라오는거*/
@keyframes popcorn {
    0% {
        opacity: 0%;
        top: 40%;
    }
    80% {
        transform: scale(1.5), rotate(45deg);
    }
    100% {
        transform: scale(1), rotate(45deg);
    }
}

/* 구름 올/라오는거 */
@keyframes up {
    0%,
    100% {
        transform: translate(0%, 5%);
    }
    50% {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}
@keyframes fadeIn {
    0% {
        transform: translate(0%, 5%);
        opacity: 0%;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}

/*페이지 1 사라져요 */
@keyframes fadeOut {
    0%,
    30% {
        transform: translate(0%, -5%);
    }
    20%,
    40% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, -30%);
    }
}
